.country-wrapper {
  //width: 70%;

  .country-box {
    .name {
    }

    .data-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      align-content: stretch;
      .cities {
      }

      .locations {
      }

      .cities,
      .locations,
      .measurements {
        text-align: center;
        color: #222222;
        .text {
          display: block;
          margin-top: 6px;
        }
        .value {
          font-size: 20px;
        }
      }
    }
  }

  .country-box:hover {
    cursor: pointer;
    //box-shadow: 0px 0px 10px 10px #668aff;
    box-shadow: 0px 0px 11px 4px #50b0ff80;
    transform: scale(1.05);
  }
}
